{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The home of data science,providing online tools for analyzing data">
    <meta name="author" content="Harlan Zhao">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-widgets.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-tables.min.css"/>
    <!-- bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'visualization/instance.css' %}" rel="stylesheet" />
    <style>
      body{
        background-image: url('{% static "datavisual/img/bg/wall.jpg" %}');
      }
    </style>

    <title>Enjoy your plot|Data Talks</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="/"><img src="{% static 'datavisual/img/logos/Datalogo.png' %}"  alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="margin-left: 70%; font-size: 20px;">
      <a class="nav-item nav-link active" href="../">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="../#services">Tools</a>
      <a class="nav-item nav-link" href="../#team">Portfolio</a>
    </div>
  </div>
  </nav>
  <div id="box1">
    <h2 style="text-align: center">Your current file is:<br><strong><label style="color: red;">{{filename}}</label></strong></h2>
    <form method="POST">
        {% csrf_token %}
     <div class="pricing-levels-3">
          <p style="font-size: 25px;"><strong>Choose the instances you want to display <br>(Up to two selections)</strong></p>

          {% if columns %}

          {% for column in columns %}
          <input class="single-checkbox" type="checkbox" name="instances" value="{{column}}"><label>{{column}}</label><br>
          {% endfor %}
          {% else %}
               {% if invalid %}
               <label style="color: red">{{ invalid }}</label>
               {% endif %}
          {% endif %}

        </div>

  </div>


  <div id="box2">
    <h2 style="text-align: center">Instuctions</h2>
    <h3>1.Choose up to two instances on the left panel</h3><br>
    <h3>2.Click Continue</h3><br>
    <h3>3.Your chart would be on the right</h3><br>
    <h3>(For downloading chart,Use the save button on the right of the chart)</h3>
    <br>
     <label style="font-size:20px;text-align: center;color: red;"><strong>{{warning}}</strong></label>
     <br>

     <a href="/upload"><button class="btn btn-primary" type="button" style="margin-left:22%;margin-bottom: 30px; width: 150px;height: 60px;">Another File</button></a>
     <br>
     <br>
     <button class="btn btn-primary" method="submit" style="margin-left: 22%;margin-bottom: 10px;width: 150px;height: 60px;" >Show Chart</button>

  </div>
  <div id="box3">
        <h1 style="text-align: center;font-size: 30px;">{{instances}}<h1>
        <div style="margin-left:20px">
            <img src="{% static 'datavisual/img/bg/showchart.png' %}" style="padding:270px;display: {{display_image}}">
            <div style="padding-top: 4%;">
            {{div| safe}}
            </div>
        </div>



  </div>
    <div class="footer" style="position: fixed;
              left: 0;
              bottom: 0;
              width: 100%;
              color: black;
              text-align: center;">
      <span style="color:black">Copyright &copy; Data Talks 2019</span>
    </div>







</body>
    <!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
    <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
    <script src="{% static 'visualization/checkbox2.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-widgets.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-tables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-api.min.js"></script>
    {{script | safe}}
</html>