{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Data Talks-Let Your Data Talk</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'datavisual/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'datavisual/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'datavisual/css/agency.css' %}" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="{% static 'datavisual/img/logos/Datalogo.png' %}"  alt=""></a>
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top" style="color: #ffffff">By Harlan Zhao</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger " href="#services" style="font-size: 1rem"><strong>Tools</strong></a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger " href="#team" style="font-size: 1rem"><ABBR><strong>Portfolio</strong></ABBR></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact" style="font-size: 1rem"><strong>Contact</strong></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% block content %}
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Welcome To Data Talks!</div>
        <div class="intro-heading text-uppercase">Talk to your data now!</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="upload/">Upload and Start</a>
      </div>
    </div>
  </header>

  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Data Visualization Tools</h2>
          <h3 class="section-subheading text-muted">More amazing tools are on their way...</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="far fa-chart-bar fa-stack-1x fa-inverse"></i>
          </span>
          <a href="#page-top" class="navbar-brand js-scroll-trigger">
            <h4 class="service-heading">Auto Data Visualization</h4>
          </a>
            <p class="text-muted">Upload your .CSV file and our amazing artificial intelligence will generate the perfect chart for you.</p>
        </div>

      </div>
    </div>
  </section>




  <!-- Team -->
  <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">More About Me</h2>
          <a class="btn btn-primary btn-l text-uppercase" href="{% static 'datavisual/resume.pdf' %}" style="color: #000000">View Resume</a>
        </div>
        <div></div>>

      </div>
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'datavisual/img/team/me.jpg' %}" alt="">
            <h4>Harlan Zhao</h4>
            <p class="text-muted">Machine Learning Engineer/Data Scientist</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://github.com/zhaohehe520">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/harlanzhao">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.kaggle.com/hehezhao">
                  <i class="fab fa-kaggle"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://zhaohehe520.github.io">
                  <i class="fas fa-link"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">I am hoping I can built a website that is friendly to people who are not professional data scientist yet having needs for knowing their data better. Contact me if you have any ideas that can help people.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Clients -->
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
        </div>
        <div class="col-md-3 col-sm-6">
          <a class="navbar-brand js-scroll-trigger">
            <img class="img-fluid d-block mx-auto" src="{% static 'datavisual/img/logos/datatalk.png' %}" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a class="navbar-brand js-scroll-trigger">
            <img class="img-fluid d-block mx-auto" src="{% static 'datavisual/img/logos/django.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a class="navbar-brand js-scroll-trigger">
            <img class="img-fluid d-block mx-auto" src="{% static 'datavisual/img/logos/bootstrap.png' %}" alt="">
          </a>
        </div>

      </div>
    </div>
  </section>

  <!-- Contact -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact Me</h2>
          <h3 class="section-subheading text-muted"><strong>If you want to share any ideas, feel free to contact me, let's build this together.</strong></h3>
        </div>
        <div class="col-lg-6 text-center" style="margin-left: 25%">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li>
               {% if message.tags == 'error' %}
              <div class="alert alert-danger">
                {{ message }}
              </div>
              {% else %}
              <div class="alert alert-success">
                {{ message }}
              </div>
              {% endif %}

            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" method='post' name="sentMessage" novalidate="novalidate">
            {% csrf_token %}
            {{form.as_p}}
            <div class="col-lg-12 text-center">
            <button id="sendMessageButton" method='submit' class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
          </div>


          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Data Talks 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://github.com/zhaohehe520">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/harlanzhao">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.kaggle.com/hehezhao">
                <i class="fab fa-kaggle"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://zhaohehe520.github.io">
                <i class="fas fa-link"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a style="color : #000000">Contact Me @ </a>
            </li>
            <li class="list-inline-item">
              <a style="color : #000000">zhaohehe520@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>



  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'datavisual/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'datavisual/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'datavisual/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact form JavaScript -->

  <!-- Custom scripts for this template -->
  <script src="{% static 'datavisual/js/agency.min.js' %}"></script>

</body>

</html>
