{% load static from staticfiles %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="{% static 'upload/css/style.css' %}" rel="stylesheet">
<script src="{% static 'upload/js/upload.js' %}"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Files</strong></div>
        <div class="panel-body">

          <!-- Standar Form -->
          <h4>Select .CSV files from your computer</h4>
          <form method="post" enctype="multipart/form-data" id="js-upload-form">
          	{% csrf_token %}
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="document" id="js-upload-files">
              </div>
              <button type="submit" class="btn btn-sm btn-primary">Upload files</button>
            </div>
          </form>

          <!-- Drop Zone -->
          <h4>Or drag and drop files below</h4>
          <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
          </div>

        </div>
      </div>
    </div> <!-- /container -->
    <script src="{% static 'upload/js/upload.js' %}"></script>