body {background-image: url('{% static "datavisual/img/bg/simple.jpg" %}');
                  background-size: cover;
                  height: 937px;}
            div {float:right;}

           
            #box1 {
                  overflow: auto;
                  float:left;
                  width: 400px;
                  height: 800px;
                  padding: 10px;
                  border: 5px solid gray;
                  margin: 30px; 
                }
            #box2 {
              position: relative;
              float:left;
              width: 340px;
              height: 800px;
              padding: 10px;
              border: 5px solid gray;
              margin-top: 30px; 
            }

            input {
            margin-top: 20px;
            margin-left: 6%;
            -ms-transform: scale(2); /* IE */
            -moz-transform: scale(2); /* FF */
            -webkit-transform: scale(2); /* Safari and Chrome */
            -o-transform: scale(2); /* Opera */
            transform: scale(2);
            padding: 10px;
            }
            label {
             padding-left: 40px;font-size: 30px;
            }
                
    
            #box3  {
              float:right;
              width: 1040px;
              height: 800px;
              padding: 10px;
              border: 5px solid gray;
              margin: 30px; 
            }
    
            #chart_area {
              color: #000; /* Fallback for older browsers */
              color: rgba(0, 0, 0, 0.5);

              font-size: 16pt;
              font-family: Arial, sans-serif;
          }
          